@import url('./resources/variables.scss');
.is-success,
.status2,
.status5 {
    color: $color-success;
}
.is-fail,
.status4 {
    color: $color-danger;
}
.is-warning,
.is-timeout,
.status3 {
    color: $color-warning;
}
.is-running,
.status1 {
    color: #5482ee;
}
.status6 {
    color: #f4a7f0;
}
.my-title {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0;
    &::before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 16px;
        border-radius: 1px;
        margin-right: 6px;
        background-color: $color-primary;
    }
}
.list-wrap {
    .list-header {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
    }
    .el-pagination {
        padding: 0;
        margin-left: -5px;
        margin-top: 20px;
        .el-pagination__jump {
            margin-left: 0;
        }
    }
}
.el-form--inline {
    .el-form-item {
        margin-bottom: 0;
    }
}
.el-table + .el-pagination {
    padding: 0;
    margin-left: -5px;
    margin-top: 20px;
    .el-pagination__jump {
        margin-left: 0;
    }
}
